option_settings:
  aws:elasticbeanstalk:application:environment:
    # IMPORTANT: Your secret keys (RAILS_MASTER_KEY, SECRET_KEY_BASE, DATABASE_URL)
    # should ONLY be set in the Elastic Beanstalk Console under Configuration > Software.
    # Do not paste them in this file.
    RAILS_ENV: "production" # We'll override this to "staging" in the EB console for the staging env
    RAILS_SERVE_STATIC_FILES: "true"
    RAILS_LOG_TO_STDOUT: "true"